[submodule "switchsai/submodules/SAI"]
	path = switchsai/submodules/SAI
	url = https://github.com/p4lang/SAI
[submodule "switchsai/submodules/ocpsai"]
	path = switchsai/submodules/ocpsai
	url = https://github.com/p4lang/ocpsai.git
